@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Open+Sans:wght@500&family=Plus+Jakarta+Sans&display=swap');

* {
  /* font-family: 'Kanit', sans-serif;
  font-family: 'Open Sans', sans-serif; */
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background-color: #1f2937;
  color: rgba(255, 255, 255, 0.87);
  scroll-behavior: smooth;
  text-align: center;
}