---
// error 404 page
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="text-center my-24">
    <h1 class="text-5xl text-sky-200">404</h1>
    <h2 class="mt-5 text-2xl">(x _ x)</h2>
    <h2 class="mt-5 text-2xl">Página no encontrada</h2>
  </div>
</Layout>
