---
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/AboutMe.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import Experience from "@/components/Experience.astro";
---

<Layout>
  <div class="text-center my-24">
    <img class="w-40 mx-auto mb-10 rounded-full" src="/favicon.webp" alt="profile" />

    <h1 class="text-5xl text-sky-200">¡Hola!, Soy Alexander OI</h1>

    <h2 class="mt-5 text-2xl">Desarrollador Web</h2>
  </div>

  <AboutMe />

  <Experience />

  <Skills />

  <Projects />
</Layout>
