---
import Card from "@/components/ui/Card.astro";
import TitleGradient from "@/components/ui/TitleGradient.astro";
---

<TitleGradient>Sobre mi</TitleGradient>

<div class="flex justify-between mb-5 text-xs">
  <Card class="py-2 px-4 rounded-md" border={false}>
    <span> 21 años </span>
  </Card>

  <Card class="py-2 px-4 rounded-md" border={false}>
    <pre>(⊙_⊙)    (- ᴗ -)    (≧◡≦)</pre>
  </Card>

  <Card class="py-2 px-4 rounded-md" border={false}>
    <span> Paraguay </span>
  </Card>
</div>

<Card class="flex flex-col gap-3 mb-20">
  <p>
    ¡Hola! Soy Victor Alexander Ortiz Ibañez, Desarrollador Web apasionado por la tecnología y la
    programación.
  </p>

  <p>
    Me encanta el desarrollo frontend con React y backend con Node. Siempre abierto a nuevos retos y
    aprendizajes en el desarrollo de software.
  </p>

  <p>
    Mi lema: "Nunca dejes de aprender". Te invito a explorar mis proyectos en GitHub y a contactar
    si tienes alguna duda o idea para colaborar. Escríbeme a <a
      class="text-gradient"
      href="mailto:alealexanderoi037@gmail.com">alexanderoi037@gmail.com</a
    >. ¡Hagamos realidad las ideas en código!
  </p>
</Card>
