---
import Card from "./ui/card.astro";
import { projects } from "../data/projects";
---

<h2 class="text-center text-3xl font-bold mb-6">Projectos Personales</h2>

<Card> hola </Card>

<style></style>
