---
import { projects } from "../content/projects/projects";
import ProjectsCards from "./ProjectsCards.astro";
---

<h2 class="text-center text-3xl font-bold mb-6">Proyectos</h2>

<ProjectsCards projects={projects} />
